@import "sidebar";
@import "responsive";

// Main variables
$text-color: #000;
$main-btn-green: rgba(22, 192, 152, 0.38);
$main-btn-red: #ffc5c5;
$text-green: #16c098;
$btn-text-green: #00b087;
$btn-text-red: #df0404;
$btn-hover-sidebar: #5932ea;
$btn-hover-text: #9197b3;

//Main style

* {
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 500;
    color: $text-color;
}

.container {
    max-width: 968px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

ul,
li {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

// Main section

.main {
    background: #fafbff;
    h1 {
        padding-top: 41px;
        padding-bottom: 51px;
        font-size: 24px;
        color: $text-color;
        text-align: center;
    }
    .main-container {
        background-color: #fff;
        filter: drop-shadow(0px 10px 60px rgba(226, 236, 249, 0.5));
        border-radius: 20px;
        margin: 0 15px;
        padding: 0 40px;
        padding-top: 30px;
        .main-content {
            display: flex;
            margin-bottom: 40px;
            justify-content: space-between;
            align-items: center;
            .main-content-text {
                h2 {
                    font-size: 22px;
                    font-weight: 600;
                    letter-spacing: -0.22px;
                    margin-bottom: 7px;
                }
                p {
                    color: $text-green;
                    font-weight: 400;
                    letter-spacing: -0.14px;
                }
            }
            .main-input {
                max-width: 216px;
                width: 100%;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    background: url("@img/search-1.svg") no-repeat;
                    top: 50%;
                    left: 8px;
                    transform: translateY(-50%);
                    z-index: 2;
                }
            }
            #searchInput {
                padding: 10px 0;
                border-radius: 10px;
                background: #f9fbff;
                padding-left: 40px;
                outline: none;
                border: none;

                &::placeholder {
                    font-size: 12px;
                    font-weight: 400;
                    letter-spacing: -0.12px;
                    color: #b5b7c0;
                    font-family: "Poppins", sans-serif;
                }
            }
        }
        .main-table {
            table {
                width: 100%;
                max-width: 860px;
                border-collapse: collapse;
                tr {
                    border-bottom: 1px solid #eee;
                }
                thead {
                    th {
                        color: #b5b7c0;
                        letter-spacing: -0.14px;
                        font-weight: 500;
                        text-align: start;
                        padding-bottom: 14px;
                        &:last-child {
                            text-align: center;
                        }
                    }
                }
                tbody {
                    td {
                        &:last-child {
                            display: flex;
                            justify-content: center;
                            padding: 24px 0;
                        }
                    }
                }
                .table-btn {
                    display: flex;
                    width: 80px;
                    justify-content: center;
                    padding: 4px;
                    cursor: pointer;
                    border-radius: 4px;
                    font-weight: 500;
                    font-family: "Poppins", sans-serif;
                    font-size: 14px;
                }
                .table-btn_active {
                    color: #008767;
                    border: 1px solid #00b087;
                    background: rgba(22, 192, 152, 0.38);
                }
                .table-btn_inactive {
                    color: #df0404;
                    border: 1px solid #df0404;
                    background: #ffc5c5;
                }
            }
        }
        .main-info {
            padding: 30px 0 40px;
            display: flex;
            justify-content: space-between;
            .main-result {
                p {
                    color: #b5b7c0;
                }
            }
            .main-pages {
                display: flex;
                column-gap: 12px;
                .main-pages-btns {
                    .main-pages-wrapp {
                        display: flex;
                        column-gap: 12px;
                    }
                }
                .main-pages-btn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 25px;
                    height: 24px;
                    padding: 6px;
                    color: #404b52;
                    font-size: 12px;
                    border-radius: 4px;
                    border: 1px solid #eee;
                    background: #f5f5f5;
                    font-family: "Poppins";
                    font-weight: 500;
                    cursor: pointer;
                    transition: all 0.5s linear;
                    &:hover {
                        border: 1px solid #5932ea;
                        background: #5932ea;
                        color: #fff;
                    }
                    &.active {
                        background-color: #5932ea;
                        border: 1px solid #5932ea;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.main-sidebar {
    display: flex;
    flex-direction: column;
    padding: 0 28px;
    position: fixed;
    width: 306px;
    height: 100%;
    background: #fff;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
    transition: transform 0.3s ease-in-out;
    .main-logo {
        padding-top: 36px;
        margin-bottom: 65px;
        display: flex;
        align-items: center;
        cursor: pointer;
        column-gap: 8px;
        a {
            display: flex;
            margin-left: 45px;
        }
    }
    .main-menu {
        ul {
            li {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: #9197b3;
                max-width: 250px;
                width: 100%;
                padding: 11px 15px 11px 11px;
                margin-bottom: 5px;
                border-radius: 8px;
                cursor: pointer;
                transition: all 0.25s linear;
                div {
                    display: flex;
                    align-items: center;
                    column-gap: 14px;
                }
                &:hover {
                    background: #5932ea;
                    color: white;
                    div {
                        path {
                            stroke: white;
                        }
                    }
                }
            }
        }
    }
    .main-customer {
        margin-top: auto;
        margin-bottom: 76px;
        align-items: center;
        display: flex;
        div:first-child {
            width: 42px;
            height: 42px;
            margin-right: 12px;
        }
        p {
            font-size: 12px;
            color: #757575;
            font-weight: 400;
        }
    }
}
